* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, Verdana, sans-serif;

}

body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 100%;

    background-image: url("./images/header_image.png");
    background-size: 100% 100%;
    background-attachment: fixed;

}

.topbar {

    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    /* keep the logo and navbar centred vertically and aligned: */
    align-items: center;
    /* position: relative needed later for the navbar position: absolute: */
    position: relative;

}

    .logo {

        display: block;
        height: 7vh;
        margin-left: 50px;

    }

    /* Add a transparent background color to the top navigation */
    .topnav {
        /* stick the navbar to the right of the page: */

        display: flex;
        flex-direction: row;
        width: 1000px;
        position: absolute;
        right: 15px;
        font-size: 14px;
        background-color: none;
        right: 50px;
        padding: 20px;



    }
    
    /* Style the links inside the navigation bar */
    .topnav a, select {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 15px 12px;
        text-decoration: none;

        font-weight: bold;

    }


        select {
            background: none;
            width: 87px;
            font-family: 'Arial';
            color: #f2f2f2;
            border: none;
            font-size: 14px;
            padding-left: 22;
            padding-right: 0;
            }

         option {
             background: magenta;
             color: white;
             }

         #about {
            width: 86px;
            }

         .contact {
            border: none;
            border-radius: 8px;
            color: white;
            background-color: rgb(51, 89, 135);
            font-size: 10px;
            font-weight: bold;
            padding: 2px;
            height: 25px;
            width: 90px;
            position: relative;
            top: 11.5px;
            left: 29px;

            }


    /* Change the color of links on hover */
    .topnav a:hover, select:hover {
        outline: 1px white dotted;
    }
    
    /* Add a color to the active/current link */
    .topnav a:active {
        color: white;
    }

    .welcome {
        position: relative;
        height: 40vh;
        width: 94%;
    }


    .welcome p {
        color: white;
        font-family: Arial, Helvetica, Verdana, sans-serif;
      }

      #top {

        font-size: 4vh;
        text-align: center;
        width: 85%;


      }

      #middle {
        font-size: 38px;
        margin-top: -18px;
        text-align: center;
        font-family: Arial, Helvetica, Verdana, sans-serif;

      }

        #mid1 {
        margin-top: -18px;
            }

        #mid2 {
            margin-top: -40px;
            }

      #bottom {
        margin-top: -40px;
        text-align: right;
        position: absolute;
        top: 30vh;
        right: 30%;
        }

    .swipe {
        height: 30vh;
        width: 100%;
        position: relative;
        left: 0px;
        overflow: hidden;

        }

    .services {
        background-color: white;
        height: 19vh;
        width: 100%;
        position: relative;
        top: -19.46vh;
        z-index: -1;
        }

    .services-content {

        background-color: white;
        height: 100vh;
        width: 100%;
        position: relative;
        top: 5vh;
        min-height: 100vh;
    }

            .services h1 {
                width: 50%;
                position: relative;
                top: 140px;
                left: 42%;
            }

            .grid-container {
                display: grid;
                position: relative;
                left: 10vw;
                top: 160px;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto auto auto auto;
                grid-gap: 10px;
                grid-row-gap: 0vh;
                max-width: 85%;
            }

            .category-title {
                padding-left: 2px;
                font-size: 28px;
                color: rgb(51, 89, 135);
                max-width: 80%;
                margin-bottom: 2vh;
                }

            .category {
                width: 80%;
                padding: 2vh;
                font-size: 22px;
                color: rgb(90, 90, 90);
                text-decoration: none;
            }

            .category-grey {
                background-color: rgb(225, 225, 225);
                font-size: 22px;
                padding: 2vh;
                max-width: 80%;
                min-width: 60px;
                color: rgb(90, 90, 90);
            }

            .grid-container a {
                text-decoration: none;
                color: rgb(90, 90, 90);
            }

            .work {
                border: none;
                height: 8vh;
                min-width: 15vw;
                color: white;
                font-size: 25px;
                padding: 1.2vh;
                background-color: rgb(51, 89, 135);
                border-radius: 10px;
                position: relative;
                top: 34vh;
                left: 41.5%;
            }

            .work:active {
                box-shadow: inset 0px 0px 5px navy;
                height: 7.9vh;
                width: 14.9vw;
                font-size: 24.9px;
                color: magenta;
            }

    .portfolio {
        position: relative;
        background-color: rgb(51, 89, 135);
        height: 100vh;
        width: 100%;
    }

        .portfolio h1 {
            color: white;
            position: absolute;
            top: 10px;
            left: 43%;
        }

        .portfolio-grid {

            align-content: center;
            display: grid;
            height: 80vh;
            max-width: 70%;
            column-gap: 2%;
            align-content: center;
            position: relative;
            left: 15%;
            top: 20vh;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;

        }

        .portfolio-item {

            font-size: 24px;
            width: 100%;
            height: 60%;
            min-width: 60px;
            color: rgb(90, 90, 90);
        }

        .portfolio-item a {

            color: white;
            text-decoration: none;
            display: inline-block;
            width: 85%;
            height: 130%;
        }

        .portfolio-item a img {
            width: 100%;
            height: 100%;
        }

        .portfolio-item p {
            display: inline-block;
            position: relative;
            top: -9vh;
            left: 2vw;
            margin: 0;
            padding: 0;
            width: 80%;
        }

    .blog {
        position: relative;

        background-color: white;
        height: 100vh;
        width: 100%;
    }

    .blog h1 {

            width: 92%;
            color: black;
            position: absolute;
            top: 10px;
            left: 0px;
            text-align: center
        }

        .blog-grid {


            display: grid;
            justify-content: center;

            height: 80%;
            column-gap: 2%;
            align-content: center;

            grid-template-columns: auto auto auto;
            max-width: 100%;
            position: relative;
            bottom: -90px;

        }

        .blog-item {
            
            font-size: 20px;
            width: 400px;
            height: 70%;
            min-width: 60px;
            color: rgb(90, 90, 90);

        }

        .blog-item img {
            width: 100%;
            height: 100%;
        }

        .blog-item p {
            display: inline-block;

            margin-top: 15px;
            padding: 10;
            width: 100%;
            height: 40px;
            text-align: center;
            position: relative;
        }

        .blog-item button {
            height: 7vh;
            width: 14vw;
            border-radius: 17px;
            position: relative;
            font-size: 16px;
            left: 25%;
        }

        .blog-item button:hover {
            color: magenta;
        }

        .blog-item button:active {
            box-shadow: inset 0px 0px 5px navy;
            height: 6.9vh;
            width: 13.9vw;
            font-size: 15.9px;
            left: 25.1%;

        }



