* {
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, Verdana, sans-serif;
}

/* The default resolution is 1920x1020. This uses the Desktop First rule, whereby
 you start with large screen styles and then you override what you need to with
 media queries. So, media queries will be max-width.

  There is only one media query at line 404.*/
body {
    margin: 0;
    padding: 0;
    background-image: url("./images/header_image.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* Makes the background 'sticky', same as in a sticky navbar: */
    background-attachment: fixed;
}

.topbar {
    width: 100%;
    height: 15%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    /* keep the logo and navbar centred vertically and aligned: */
    align-items: center;
    /* position: relative needed later for the navbar position: absolute: */
    position: relative;
}

    .logo {
        display: block;
        height: 70px;
        margin-left: 60px;
    }


    .topnav {
        /* stick the navbar to the right of the page: */
        justify-content: right;
        display: flex;
        flex-direction: row;
        width: 70%;
        position: absolute;
        right: 90px;
        font-size: 16px;
        /* Add a transparent background color to the top navigation */
        background-color: none;
        padding: 20px;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a, select {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 15px 12px;
        text-decoration: none;
        font-weight: bold;
    }

        /* 'Latest' dropdown item */
        select {
            background: none;
            width: 89px;
            color: #f2f2f2;
            border: none;
            font-size: 16px;
            /* Moves the writing closer to the down arrow */
            padding-left: 17px;
            padding-right: 0px;
            }

            option {
                background: magenta;
                color: white;
            }

        /* 'About' dropdown item */
        #about {
            width: 114px;
            /* Moves the writing closer to the down arrow */
            padding-left: 14px;

        }

        .contact {
            border: none;
            border-radius: 8px;
            color: white;
            background-color: rgb(51, 89, 135);
            font-size: 12px;
            font-weight: bold;
            padding: 2px;
            height: 35px;
            width: 130px;
            position: relative;
            top: 7px;
            left: 29px;
        }


    /* Frame the links on hover */
    .topnav a:hover, select:hover {
        outline: 1px white dotted;
    }

    .contact:hover {
        color: magenta;
    }
    
    /* Add a white color to the active/current link */
    .topnav a:active {
        color: white;
    }

    /* Section 1: center-screen writing */
    .welcome {
        height: 25vh;
        width: 100%;
    }

        .welcome p {
            color: white;
        }

        #top {
            font-size: 38px;
            text-align: center;
            width: 88%;
        }

        #middle {
            font-size: 48px;
            margin-top: -18px;
            text-align: center;
        }

        #mid1 {
            margin-top: -18px;
        }

        #mid2 {
            margin-top: -40px;
        }

        #bottom {
            margin-top: -20px;
            font-size: 18px;
            width: 75%;
            text-align: right;
        }

    /* The wave picture serving as border btw section 1 and 2 */
    .swipe {
        height: 31.5vh;
        width: 100%;
        position: relative;

        left: 0px;
        overflow: hidden;

    }

    /* White space going under the wave */
    .below-swipe {
        background-color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 10vh;
        width: 100%;
        position: relative;
        top: -20.2vh;
        z-index: -1;
        }

    /* Section 2 */
    .services-content {
        background-color: white;
        height: 85vh;
        width: 100%;
        position: relative;
        top: 10vh;
    }

        .services-content h1 {
            width: 100%;
            text-align: center;
            position: relative;
            top: 85px;
            font-size: 48px;
            font-family: , sans-serif;
        }

        /* The Services grid */
        .grid-container {
            display: grid;
            position: relative;
            left: 10vw;
            top: 160px;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto;
            grid-gap: 10px;
            grid-row-gap: 0vh;
            max-width: 85%;
        }

        .category-title {
            padding-left: 2px;
            font-size: 28px;
            color: rgb(51, 89, 135);
            max-width: 80%;
            margin-bottom: 2vh;
        }

        .category {
            width: 80%;
            padding: 2vh;
            font-size: 22px;
            color: rgb(90, 90, 90);
            text-decoration: none;
        }

        .category-grey {
            background-color: rgb(225, 225, 225);
            font-size: 22px;
            padding: 2vh;
            max-width: 80%;
            min-width: 60px;
            color: rgb(90, 90, 90);
        }

        .grid-container a {
            text-decoration: none;
            height: 100%;

            color: rgb(90, 90, 90);
        }

        /* 'Work with us' button */
        .work {
            border: none;
            height: 8vh;
            min-width: 15vw;
            color: white;
            font-size: 36px;
            background-color: rgb(51, 89, 135);
            border-radius: 30px;
            position: relative;
            top: 240px;
            left: 42%;
        }

            .work:hover {
                color: magenta;
            }

            .work:active {
                box-shadow: inset 0px 0px 5px navy;
                height: 7.9vh;
                width: 14.9vw;
                font-size: 35.9px;
                color: magenta;
            }

    /* Third section */
    .portfolio {
        position: relative;
        background-color: rgb(51, 89, 135);
        height: 85vh;
        width: 100%;
    }

        .portfolio h1 {
            width: 98%;
            text-align: center;
            font-size: 48px;
            color: white;
            position: absolute;
            top: 50px;
            }

        .portfolio-grid {
            align-content: center;
            display: grid;
            height: 40vh;
            max-width: 70%;
            column-gap: 2%;
            align-content: center;
            position: relative;
            left: 15%;
            top: 320px;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
        }

        .portfolio-item {
            font-size: 24px;
            width: 100%;
            height: 60%;
            min-width: 60px;
            color: rgb(90, 90, 90);
        }

        .portfolio-item a {
            color: white;
            text-decoration: none;
            display: inline-block;
            width: 95%;
            height: 140%;
        }

        .portfolio-item a img {
            width: 100%;
            height: 100%;
        }

        .portfolio-item p {
            display: inline-block;
            position: relative;
            top: -5vh;
            left: 2vw;
            margin: 0;
            padding: 0;
            width: 80%;
            font-size: 38px;
        }

    /*Third section. Analogous to the previous section: */
    .blog {
        position: relative;
        background-color: white;
        height: 80vh;
        width: 100%;
    }

    .blog h1 {
            width: 100%;
            text-align: center;
            color: black;
            position: absolute;
            top: 40px;
            font-size: 48px;
    }

        .blog-grid {
            display: grid;
            justify-content: center;
            height: 80%;
            column-gap: 2%;
            align-content: center;
            grid-template-columns: auto auto auto;
            max-width: 100%;
            position: relative;
            bottom: -90px;
        }

        .blog-item {
            font-size: 30px;
            width: 400px;
            height: 70%;
            min-width: 60px;
            color: rgb(90, 90, 90);
        }

        .blog-item img {
            width: 100%;
            height: 100%;
        }

        .blog-item p {
            display: inline-block;
            margin-top: 15px;
            padding: 10;
            width: 100%;
            height: 40px;
            text-align: center;
            position: relative;
        }

        /* We wrap the button in a div to center it in all resolutions */
        .read-more {
            width: 100%;
            height: 20%;
            margin-top: 15%;
            padding-left: 12%;
            padding-right: 12%;
        }

        .blog-item button {
            height: 65px;
            width: 244px;
            border-radius: 27px;
            font-size: 28px;
        }

        .blog-item button:hover {
            color: magenta;
        }

        /* Push effect (everything smaller by 1px */
        .blog-item button:active {
            box-shadow: inset 0px 0px 5px navy;
            height: 64px;
            width: 243px;
            font-size: 27.9px;
        }


/* For screens smaller than 1920x1080px
(works well right down to width: 1280px and height: 720px): */
@media only screen and (max-width: 1919px), (max-height: 1079px) {
    .topbar {
    margin-top: 10px;
    }

    .logo {
        height: 35px;
    }


    .topnav {

        display: flex;
        align-items: baseline;
        width: 80%;
        right: 40px;
        font-size: 12px;
    }

    /* Style the links inside the navigation bar (smaller padding) */
    .topnav a, select {
        padding: 10px 8px;
    }

        select {
            width: 61px;
            margin-left: 3px;
            margin-right: 3px;
            font-size: 12px;
            padding-left: 0px;
            padding-right: 0px;
        }

         #about {
            width: 82px;
            padding-left: 2px;
         }

         .contact {
            font-size: 12px;
            padding: 0px;
            height: 29px;
            width: 120px;
            position: relative;
            top: 0px;
            left: 20px;
         }

    /* Mostly fonts that need to be smaller (by 10px) */
    .welcome {
        height: 45vh;
    }

    #top {
        font-size: 28px;
    }

    #middle {
        font-size: 38px;
    }

    #bottom {
        font-size: 16px;
    }

    .services-content h1 {
        font-size: 38px;
    }

    /* The services grid repositioned higher */
    .grid-container {
        top: 100px;
    }

    .category-title {
        font-size: 22px;
    }

    .category {
       font-size: 18px;
    }

    .category-grey {
        font-size: 18px;
    }

    .work {
         font-size: 26px;
         border-radius: 20px;
         top: 150px;
    }

    .work:active {
        box-shadow: 0px 0px 3px navy;
        height: 7.8vh;
        width: 14.8vw;
        font-size: 25.9px;
        color: magenta;
    }

    .portfolio h1 {
        font-size: 38px;
        top: 10px;
    }

    .portfolio-grid {
        top: 220px;
    }

    .portfolio-item {
        width: 95%;
        height: 69%;
        min-width: 60px;
        color: rgb(90, 90, 90);
    }

    .portfolio-item a {
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 95%;
        height: 100%;
    }

        .portfolio-item a img {
            width: 100%;
            height: 100%;
        }

        .portfolio-item p {
            font-size: 24px;
        }

    .blog h1 {
        top: 20px;
        font-size: 38px;
    }

    .blog-item {
        font-size: 20px;
        width: 300px;
    }

        .blog-item p {
            height: 20px;
        }

        .read-more {
            padding-left: 22%;
            padding-right: 22%;
        }

        .blog-item button {
            height: 35px;
            width: 70%;
            font-size: 14px;
        }

        /* Button size gets smaller, so the push effect also needs to change: */
        .blog-item button:active {
            box-shadow: inset 0px 0px 5px navy;
            height: 34px;
            width: 69%;
            font-size: 13.9px;
        }

    }
}



